{% extends 'base.html' %}
{% block content %}
<div>
    <form class="form-row" method="POST">
        {% csrf_token %}
        <hr class="mt-4 mb-4">
        <h2>Ingreso de alistamiento</h2>
        <hr class="mt-4 mb-4">
        
          
        {{form.as_p}}
        <p></p>
            <div> 
                  
        

        </div class="form-group col-md-2">
        <input type="submit" class="btn btn-success btn-xs" value="Agregar alistamiento" style='BORDER: rgb(128,128,128) 1px solid; 
        FONT-SIZE: 16pt; FONT-FAMILY: Verdana; 
        BACKGROUND-COLOR: rgb(140, 131, 237)'>
                <br>
                <td><a type="button" class="btn btn-outline-secondary" href="/modelo-create/">Crear modelo de equipo</a></td> 
                <br>
                <td><a type="button" class="btn btn-outline-secondary" href="/marca-create/">Crear marca de equipo</a></td> 
    </form>
    
    <br>
   
    <br>
    <h4><a href="/alistamiento-list/">Regresar a lista de alistamientos</a></h4>
</div>


{% endblock %}

