{% extends 'base.html' %}
{% block content %}

<div class="card-body">
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-md-12 search">
                <form action="" method="get">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control" placeholder="Buscar..." name="buscar">
                        <span class="input-group-list">
                            <i class="icon icon-search"></i>
                            <button type="submit" class="boton btn-success">Buscar</button>

                        </span>

                    </div>
                </form>

            </div>

        </div>

    </div>
    <hr class="mt-2 mb-2">
<h4>Lista de manuales de partes</h4>
<hr class="mt-2 mb-2">
    
    <table class="table">
        <tr>
            <th scope="col"> ID </th>  
            <th scope="col"> MODELO </th>
            <th scope="col"> ARCHIVO </th>
            <th scope="col"> FECHA DE CREACION </th>
        </tr>
        {%if manualPartes_context%}
        {%for manualparte in manualPartes_context%}
        <tr>
            <td> {{ manualparte.id }} </td>
            <td> {{ manualparte.title }} </td>
            <td><a href="{{ manualparte.uploadedFile.url }}">{{ manualparte.uploadedFile }}</a>  </td>
            <td> {{ manualparte.dateTimeOfUpload }} </td>
            <td> {{ alistamiento.accesorio }} </td>

          

        </tr>
        {% endfor %}
        {%else%}
            <h1>No hay registros de manuales de partes</h1>
        {%endif%}

        
    </table>
    <hr>
    <a type="button" class="btn btn-success" href="{%url 'uploadFile' %}">Guardar manuales</a>
    <br>
    <br>
    </div>



{% endblock %} 